# Source
src/

# Tests
test/

# Config files
.github/
scripts/
.claude/
eslint.config.mjs
tsconfig.json
tsup.config.ts
vitest.config.ts

# Dev dependencies artifacts
node_modules/

# Build and test artifacts
coverage/

# Misc
*.lock
